# XML example and exercise
****
+ study examples of accessing nodes in XML tree structure  
+ work on exercise to be completed and submitted
****
+ reference: https://docs.python.org/2.7/library/xml.etree.elementtree.html
+ data source: http://www.dbis.informatik.uni-goettingen.de/Mondial
****

In [72]:
from xml.etree import ElementTree as ET

## XML example

+ for details about tree traversal and iterators, see https://docs.python.org/2.7/library/xml.etree.elementtree.html

In [73]:
document_tree = ET.parse( './data/mondial_database_less.xml' )

In [74]:
# print names of all countries
for child in document_tree.getroot():
    print(child.find('name').text)

Albania
Greece
Macedonia
Serbia
Montenegro
Kosovo
Andorra

In [75]:
# print names of all countries and their cities
for element in document_tree.iterfind('country'):
    print('* ' + element.find('name').text + ':'),
    capitals_string = ''
    for subelement in element.getiterator('city'):
        capitals_string += subelement.find('name').text + ', '
    print (capitals_string[:-2])

* Albania:
Tirana, Shkodër, Durrës, Vlorë, Elbasan, Korçë
* Greece:
Komotini, Kavala, Athina, Peiraias, Peristeri, Acharnes, Patra, Kozani, Kerkyra, Ioannina, Thessaloniki, Iraklio, Chania, Ermoupoli, Rhodes, Tripoli, Lamia, Chalkida, Larissa, Volos, Mytilini, Karyes
* Macedonia:
Skopje, Kumanovo
* Serbia:
Beograd, Novi Sad, Niš
* Montenegro:
Podgorica
* Kosovo:
Prishtine
* Andorra:
Andorra la Vella

****
## XML exercise

Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [76]:
import pandas as pd
document = ET.parse( './data/mondial_database.xml' )

In [77]:
open('data/mondial_database.xml')
N = 300
head = ""
with open('data/mondial_database.xml') as myfile:
    for x in range(N):
        head = head + next(myfile)

# Answer 1:

In [78]:
root = document.getroot()
rows = []
for country in root:
    dictionary = {}
    dictionary['Country'] = country.find("name").text
    #print("Country: "+str(country.find("name").text))
    for infmor in country.findall("infant_mortality"):
        #print("  "+str(infmor.text))   
        dictionary['Infant_Mortality_Rate'] = float(infmor.text)
    rows.append(dictionary)
df = pd.DataFrame(rows)

In [79]:
df[df.Infant_Mortality_Rate.notnull()].sort_values('Infant_Mortality_Rate', ascending=False).head(10)

                      Country  Infant_Mortality_Rate
194            Western Sahara                 145.82
54                Afghanistan                 117.23
189                      Mali                 104.34
226                   Somalia                 100.14
213  Central African Republic                  92.86
230             Guinea-Bissau                  90.92
214                      Chad                  90.30
192                     Niger                  86.27
195                    Angola                  79.99
201              Burkina Faso                  76.80

# Answer 2:

In [80]:
root = document.getroot()
rows = []
for country in root:
    for city in country.findall("city"):
        dictionary = {}
        dictionary['Country'] = country.find("name").text
        dictionary['City_Name'] = str(city.find("name").text)
        if city.find(".//population[@year='2011']") != None:
            dictionary['Population_2011'] = int(city.find(".//population[@year='2011']").text)
            rows.append(dictionary)
df2 = pd.DataFrame(rows)

In [81]:
df2.sort_values('Population_2011',ascending=False).head(10)

     City_Name    Country  Population_2011
8      Beograd     Serbia          1639121
56  Montevideo    Uruguay          1318755
23       Sofia   Bulgaria          1270284
39     Yerevan    Armenia          1060138
42   Kathmandu      Nepal          1003285
18      Zagreb    Croatia           686568
52    Kingston    Jamaica           662426
14        Rīga     Latvia           658640
15     Vilnius  Lithuania           535631
35      Dublin    Ireland           525383

# Answer 3:

In [82]:
root = document.getroot()
rows = []
for country in root:
    for city in country.findall("city"):
        if country.find(".//population[@year='2011']") != None:
            dictionary = {}
            dictionary['Country'] = country.find("name").text
            #dictionary['Population_2011'] = int(country.find(".//population[@year='2011']").text)
            count = 0
            for language in country.findall("language"):
                dictionary[str(language.text)] = (float(language.get('percentage')))/100*int(country.find(".//population[@year='2011']").text)
                count += 1
            rows.append(dictionary)
df3 = pd.DataFrame(rows)
df3cv = df3.columns.tolist()
df3cv = df3cv[8:9] + df3cv[0:8] + df3cv[9:]
df3 = df3[df3cv] 
df3 = pd.DataFrame(df3.sum())
df3.columns = ['totalPop']
df3 = df3.drop('Country')
df3.sort_values('totalPop', ascending=False).head(10)

               totalPop
Nepali      1.05978e+08
Bulgarian   3.38745e+07
Croatian    2.09034e+07
Serbian     1.96076e+07
Albanian    1.92613e+07
English     1.82135e+07
Lithuanian  7.48684e+06
Chinese     6.76043e+06
Spanish      6.5387e+06
Turkish     4.21481e+06

# Answer 4:

In [83]:
def isInt_str(v):
    v = str(v).strip()
    return v=='0' or (v if v.find('..') > -1 else v.lstrip('-+').rstrip('0').rstrip('.')).isdigit()

In [84]:
rows = []
root = document.getroot()
root.getchildren()
lakecount = 0
rivercount = 0
airportcount = 0
for child in root:
    tagname = child.tag
    if tagname == "lake":
        if child.find("area") != None:
            if lakecount == 0:
                lakecount += 1
                largestLake = child
            else:
                area = float(child.find("area").text)
                largestSoFar = float(largestLake.find("area").text)
                if area > largestSoFar:
                    largestLake = child
    elif tagname == "river":
        if child.find("length") != None:
            if rivercount == 0:
                rivercount += 1
                longestRiver = child
            else:
                length = float(child.find("length").text)
                longestSoFar = float(longestRiver.find("length").text)
                if length > longestSoFar:
                    longestRiver = child
    elif tagname == "airport":
        if child.find("elevation") != None:
            if airportcount == 0:
                airportcount += 1
                highestAirport = child
            else:
                if isInt_str(child.find("elevation").text):
                    elevation = int(child.find("elevation").text)
                    highestSoFar = int(highestAirport.find("elevation").text)
                    if elevation > highestSoFar:
                        highestAirport = child

In [85]:
dictionary = {}
dictionary['Lake_name'] = str(largestLake.find("name").text)
dictionary['Lake_country'] = str(largestLake.get("country"))
dictionary['Lake_area'] = float(largestLake.find("area").text)
largestLakeDF = pd.DataFrame(dictionary, index=[0])
largestLakeDF

   Lake_area    Lake_country    Lake_name
0   386400.0  R AZ KAZ IR TM  Caspian Sea

In [86]:
dictionary = {}
dictionary['River_name'] = str(longestRiver.find("name").text)
dictionary['River_country'] = str(longestRiver.get("country"))
dictionary['River_length'] = float(longestRiver.find("length").text)
longestRiverDF = pd.DataFrame(dictionary, index=[0])
longestRiverDF

  River_country  River_length River_name
0      CO BR PE        6448.0   Amazonas

In [87]:
dictionary = {}
dictionary['Airport_name'] = str(highestAirport.find("name").text)
dictionary['Airport_country'] = str(highestAirport.get("country"))
dictionary['Airport_elevation'] = float(highestAirport.find("elevation").text)
highestAirportDF = pd.DataFrame(dictionary, index=[0])
highestAirportDF

  Airport_country  Airport_elevation  Airport_name
0             BOL             4063.0  El Alto Intl